/* /Layout/Footer.razor.rz.scp.css */
.built strong[b-ysw9hsan2y]{
    margin-left: 5px;
}
.attr a[b-ysw9hsan2y]{
    text-decoration: none;
    color: red;
}
.attr a:visited[b-ysw9hsan2y]{
    color: red;
}
.poweredBy img[b-ysw9hsan2y]{
    width: 150px;
    height: auto;
}
/* /Layout/MainLayout.razor.rz.scp.css */
/*.appbody {
    display: flex;
    flex-direction: column;
    width: 1320px;
    margin: 0 auto;
}

.header {
    flex: 0 1 10%;
    padding: 20px;
}

.content {
    flex: 1 1 80%;
    padding: 20px;
}

.footer {
    flex: 0 1 10%;
    padding: 20px;
}
*/
/* /Layout/NavMenu.razor.rz.scp.css */
.searchBox[b-p38do15wsf] {
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: #d9d9d9;
    background-image: url('./searchicon.png');
    padding: 10px 20px 10px 40px;
    color: black;   
}
.searchBox:focus[b-p38do15wsf]{
    outline:none;
}
.searchBox[b-p38do15wsf]::placeholder{
    color: black;
    text-align: center;
}
/* /Pages/Home.razor.rz.scp.css */
.heading[b-83lvoa7l2f] {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
.cards[b-83lvoa7l2f]{
}
.cardd:hover[b-83lvoa7l2f] {
    cursor: pointer;
}

.pagination[b-83lvoa7l2f] {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 300px) {
    .cardd[b-83lvoa7l2f]{
        width: 50%;
        border:none;
    }
}
/* /Pages/MovieDetails.razor.rz.scp.css */

.movieDetails[b-h47x7qgr9c] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.links[b-h47x7qgr9c] {
    display: flex;
    gap: 10px;
}

.linkimdb[b-h47x7qgr9c] {
    padding: 10px 20px;
    background-color: #f5c518;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

    .linkimdb:hover[b-h47x7qgr9c] {
        background-color: #f5c5188c;
    }

.linkHomepage[b-h47x7qgr9c] {
    padding: 10px 20px;
    background-color: forestgreen;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

    .linkHomepage:hover[b-h47x7qgr9c] {
        background-color: #228b228f;
    }

.overview[b-h47x7qgr9c] {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.heading[b-h47x7qgr9c] {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.imageHolder img[b-h47x7qgr9c] {
    width: 275px;
    border-radius: 20px;
}
/* /Pages/SearchResult.razor.rz.scp.css */
.heading[b-wipskw0yq2] {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.cards[b-wipskw0yq2] {
}

.cardd:hover[b-wipskw0yq2] {
    cursor: pointer;
}

.pagination[b-wipskw0yq2] {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 300px) {
    .cardd[b-wipskw0yq2] {
        width: 50%;
        border: none;
    }
}
/* /UI/MovieCard.razor.rz.scp.css */
.movieCard[b-0oioq66b04] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .movieCard img[b-0oioq66b04] {
        flex-shrink: 1;
        border-radius: 10px;
        width: 250px;
        height: 375px;
    }

@media(max-width:576px) {
    .movieCard img[b-0oioq66b04] {
        width: 110px;
        height: 165px;
    }

    .movieCard[b-0oioq66b04] {
        margin-bottom: 8px;
    }
}


@media(max-width:380px) {
    .movieCard img[b-0oioq66b04] {
        width: 90px;
        height: 135px;
    }

    .movieCard[b-0oioq66b04] {
        margin-bottom: 8px;
    }
}
@media(max-width:300px) {
    .movieCard img[b-0oioq66b04] {
        width: 100px;
        height: 150px;
    }

    .movieCard[b-0oioq66b04] {
        margin-bottom: 3px;
    }
}


@media(min-width:576px) {
    .movieCard img[b-0oioq66b04] {
        width: 160px;
        height: 240px;
    }

    .movieCard[b-0oioq66b04] {
        margin-bottom: 8px;
    }
}

@media(min-width:768px) {
    .movieCard img[b-0oioq66b04] {
        width: 220px;
        height: 330px;
    }

    .movieCard[b-0oioq66b04] {
        margin-bottom: 8px;
    }
}

@media(min-width:992px) {
    .movieCard img[b-0oioq66b04] {
        width: 280px;
        height: 420px;
    }

    .movieCard[b-0oioq66b04] {
        margin-bottom: 8px;
    }
}

@media(min-width:1200px) {
    .movieCard img[b-0oioq66b04] {
        width: 240px;
        height: 360px;
    }

    .movieCard[b-0oioq66b04] {
        margin-bottom: 8px;
    }
}

@media(min-width:1400px) {
    .body[b-0oioq66b04] {
        background-color: red;
    }

    .movieCard img[b-0oioq66b04] {
        width: 240px;
        height: 360px;
    }

    .movieCard[b-0oioq66b04] {
        margin-bottom: 8px;
    }
}
/* /UI/Pagination.razor.rz.scp.css */
.pagination[b-cuu6cljhvk] {
    padding: 10px 20px;
}

.container[b-cuu6cljhvk] {
    display: flex;
    gap: 15px;
    align-items: center;
}

button[b-cuu6cljhvk] {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #636f9c;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

    button:hover[b-cuu6cljhvk] {
        cursor: pointer;
        background-color: lightblue;
    }

.disabled[b-cuu6cljhvk] {
    background-color: darkcyan;
    pointer-events: none;
}
