/* /Layout/Footer.razor.rz.scp.css */
.foot[b-ysw9hsan2y]{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.built strong[b-ysw9hsan2y]{
    margin-left: 5px;
}
.attr a[b-ysw9hsan2y]{
    text-decoration: none;
    color: red;
}
.attr a:visited[b-ysw9hsan2y]{
    color: red;
}
.poweredBy img[b-ysw9hsan2y]{
    width: 100px;
    height: auto;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.appbody[b-kfaepyyyyk] {
    display: flex;
    flex-direction: column;
    width: 1320px;
    margin: 0 auto;
}

.header[b-kfaepyyyyk] {
    flex: 0 1 10%;
    padding: 20px;
}

.content[b-kfaepyyyyk] {
    flex: 1 1 80%;
    padding: 20px;
}

.footer[b-kfaepyyyyk] {
    flex: 0 1 10%;
    padding: 20px;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navigation[b-p38do15wsf] {
    display: flex;
}

.navbar-brand[b-p38do15wsf] {
    font-size: 35px;
    font-weight: 600;
    word-wrap: break-word;
    flex: 0 1 10%;
}
.navbar-brand[b-p38do15wsf]  a{
    text-decoration: none;
    color: black;
}
.nav-items[b-p38do15wsf] {
    flex: 1 1 90%;
    display: flex;
    align-items:center;
    justify-content: center;
}
form[b-p38do15wsf]{
    width: 100%;
    text-align: center;
}
.searchBox[b-p38do15wsf] {
    width: 60%;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background-color: #d9d9d9;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 16px 20px 16px 40px;
    color: black;   
}
.searchBox[b-p38do15wsf]::placeholder{
    color: black;
    text-align: center;
}
.hidden[b-p38do15wsf]{
    display:none;
}
<div style="width: 100%; height: 100%; background: #D9D9D9; border-radius: 30px" > </div[b-p38do15wsf] >
/* /Pages/Home.razor.rz.scp.css */
.heading[b-83lvoa7l2f] {
    color: black;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.cards[b-83lvoa7l2f]{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col[b-83lvoa7l2f]{
    flex: 0 1 19%;
    margin-bottom: 2px;
}
.col:hover[b-83lvoa7l2f]{
    cursor: pointer;
}
.pagination[b-83lvoa7l2f]{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* /Pages/MovieDetails.razor.rz.scp.css */
.banner .title[b-h47x7qgr9c]{
    margin-bottom: 20px;
}

.container[b-h47x7qgr9c] {
    display: flex;
    width: 70%;
}
.imageHolder img[b-h47x7qgr9c] {
    width: 275px;
    border-radius: 20px;
}
.movieDetails[b-h47x7qgr9c]{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.links[b-h47x7qgr9c]{
    display: flex;
    gap: 10px;
}

.linkimdb[b-h47x7qgr9c] {
    padding: 10px 20px;
    background-color: #f5c518;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.linkimdb:hover[b-h47x7qgr9c]{
    background-color: #f5c5188c;
}

.linkHomepage[b-h47x7qgr9c]{
    padding: 10px 20px;
    background-color: forestgreen;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

    .linkHomepage:hover[b-h47x7qgr9c] {
        background-color: #228b228f;
    }

.overview[b-h47x7qgr9c]{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
/* /Pages/SearchResult.razor.rz.scp.css */
.content[b-wipskw0yq2] {
}

.heading[b-wipskw0yq2] {
    color: black;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.cards[b-wipskw0yq2] {
    display: flex;
    flex-wrap: wrap;
}

.col[b-wipskw0yq2] {
    flex: 0 1 20%;
    margin-bottom: 2px;
}

    .col:hover[b-wipskw0yq2] {
        cursor: pointer;
    }

.pagination[b-wipskw0yq2] {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* /UI/MovieCard.razor.rz.scp.css */
.movieCard[b-0oioq66b04] {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.movieCard img[b-0oioq66b04]{
    border-radius: 10px;
    width: 250px;
    height: 400px;  
}
/* /UI/Pagination.razor.rz.scp.css */
.pagination[b-cuu6cljhvk] {
    padding: 10px 20px;
}

.container[b-cuu6cljhvk] {
    display: flex;
    gap: 15px;
    align-items: center;
}

button[b-cuu6cljhvk] {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #636f9c;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

    button:hover[b-cuu6cljhvk] {
        cursor: pointer;
        background-color: lightblue;
    }

.disabled[b-cuu6cljhvk] {
    background-color: darkcyan;
    pointer-events: none;
}
