<div class="container-fluid text-center p-3">
    <div class="built mb-2">Built By <strong>Aman</strong></div>
    <div class="attr mb-2">
        Designed derived from :
        <a target="_blank" href="https://www.figma.com/community/file/1154758055447925096/the-movie-tracker-tv-shows-movies-tracking-web-app">The Movie Tracker - TV Shows & Movies Tracking Web App</a> By <a target="_blank" href="https://www.figma.com/@@elshazlii">Elshazly</a> is Licensed under <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    </div>
    <div class="poweredBy row align-items-center mb-2">
        <div>
            Powered By
            <a href="https://www.themoviedb.org/">
                <img src="/TmdbIcon.svg" alt="The Movie DB" />
            </a>
        </div>
    </div>
</div>
@code {

}
