@inherits LayoutComponentBase
<div class="container-lg pb-3">
    <header class="container-fluid">
        <NavMenu />
    </header>
    <main class="container-fluid">
        @Body
    </main>
    <footer class="container-fluid">
        <Footer />
    </footer>
</div>