.heading {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
.cards{
}
.cardd:hover {
    cursor: pointer;
}

.pagination {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 300px) {
    .cardd{
        width: 50%;
        border:none;
    }
}
