.movieCard {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.movieCard img{
    border-radius: 10px;
    width: 250px;
    height: 400px;  
}
